<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TechShop</title>
    </head>
    <body>
        <!-- ES EL FRAGMENTO #3 DE Fragmentos LISTADO-->
        <section th:fragment="listado" class="p-3">
            <div class="row p-3">
                <div class="col-md-9">
                    <div class="card p-2">
                        <div class="card-header">
                            <h4>[[#{categoria.listado}]]</h4>
                        </div>
                        <div class="card-body">
                            <div th:if="${categorias != null and !categorias.empty}">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>[[#{categoria.descripcion}]]</th>
                                            <th>[[#{categoria.imagen}]]</th>
                                            <th>[[#{categoria.activo}]]</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="c : ${categorias}">
                                            <td>[[${c.idCategoria}]]</td>
                                            <td>[[${c.descripcion}]]</td>
                                            <td><img th:src="@{${c.rutaImagen}}" alt=".." height="75"/></td>
                                            <td>[[${c.activo}]]</td>
                                        </tr>                                    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
