<!DOCTYPE html>
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header> 
                <nav>
                    <a class="logo nav-link" href="/">TechShop</a>
                    <ul class="nav-menu">
                        <li class="nav-menu-item"><a class ="nav-link" href="/ejemplo2">Mis Autos</a></li>
                        <li class="nav-menu-item"><a class ="nav-link" href="/multimedia">Multimedia</a></li>
                        <li class="nav-menu-item"><a class ="nav-link" href="/iframes">iFrames</a></li>
                    </ul>
                </nav>
        </header>
        <aside>
            <h2> iFrames<</h2>
            <p>Uso de diferentes iFrames</p>
        </aside>
        <section>
            <article>
                <h3>Sitio Web Interno</h3>
                <p>No usar en banca</p>
                <iframe src="https://ufidelitas.ac.cr"
                        width="1100"
                        height="400">
                </iframe>
                
            </article>
            <article>
                <h3>YT</h3>
                <p>DJ SET</p>
                <iframe width="1236" height="695" src="https://www.youtube.com/embed/VkR_EkqkHyE" title="If Mac Miller made lofi hip hop (Extended Mix)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                
            </article>
            <article>
                <h3>Ubicanos</h3>
                <p>Como llegar?</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3936.5146588018865!2d-83.7035397!3d9.376144499999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa14fd4a629e713%3A0xb43b5a5f9430d638!2sSoda%20d%C3%B3nde%20kike!5e0!3m2!1sen!2scr!4v1747704234708!5m2!1sen!2scr" width="600" height="450" style="border:0;" allowfullscreen="" referrerpolicy="no-referrer-when-downgrade"></iframe>
                
            </article>
        </section>
        <footer>
            TechShop 2025 &COPY; Todos los derechos reservados
        </footer>
    </body>
</html>
