<!DOCTYPE html>
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header> 
                <nav>
                    <a class="logo nav-link" href="/">TechShop</a>
                    <ul class="nav-menu">
                        <li class="nav-menu-item"><a class ="nav-link" href="/ejemplo2">Mis Autos</a></li>
                        <li class="nav-menu-item"><a class ="nav-link" href="/multimedia">Multimedia</a></li>
                        <li class="nav-menu-item"><a class ="nav-link" href="/iframes">iFrames</a></li>
                    </ul>
                </nav>
        </header>
        <aside>
            <h2> Ejemplo dentro del index</h2>
            <p>Uso de etiquetas basicas en un sitio web</p>
        </aside>
        <section>
            <h2>TechShop Online</h2>
            <p>Los mejores precios, PRECIOS MACHETE</p>
        </section>
        <footer>
            TechShop 2025 &COPY; Todos los derechos reservados
        </footer>
    </body>
</html>
